.loan-request-card {
    max-width: 700px;
    margin: 0 auto;
    padding: 3rem;
}

.emi-calculator-box {
    background-color: #F8FAFC;
    padding: 1.5rem;
    border-radius: var(--radius-md);
    border: 1px solid var(--color-border);
}

.emi-calculator-box h4 {
    display: flex;
    align-items: center;
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.text-xs {
    font-size: 0.75rem;
}

.center-upload {
    display: flex;
    flex-direction: column;
}

.center-upload input {
    margin-top: 5px;
}

.alert-warning {
    background-color: #FFFBEB;
    border: 1px solid #FCD34D;
    padding: 1rem;
    border-radius: var(--radius-md);
    color: #92400E;
}

.rules-list {
    padding-left: 1.5rem;
    margin-top: 0.5rem;
}

.rules-list li {
    margin-bottom: 0.25rem;
}